<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"> -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/index.css">
    <title>XIE Yuxiang</title>
    <style>
        .panel{
            margin-top: 20px;
        }
        .author{
            font-weight: bold;
            color: #00417c;
            font-size: 14px;
        }
        .videos-img img{
            width: 300px;
        }
        #content_box h1{
            font-family: "Open Sans", sans-serif;
            font-weight: bold;
            color: #337ab7
        }
        #content_box ul li{
            list-style: disc;
        }
        .panel-title{
            font-size: 20px;
            font-weight: bold;
            color: #00417c;
        }
    </style>
</head>
<body>
    <div class="nav navbar-default navbar-fixed-top navbar-inverse">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <span>XIE Yuxiang</span>
                </a>
                <button class="navbar-toggle" data-toggle="collapse" data-target="#navc">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- navbar-header -->
            <div class="collapse navbar-collapse navbar-right" id="navc">
                <ul class="nav navbar-nav" id="nav">
                    <li><a href="/home">About me</a></li>
                    <!-- <li><a href="/awards">Awards</a></li> -->
                    <li><a href="/publications">Publications and Papers</a></li>
                    <li class="navActive"><a href="/portfolio">Portfolio</a></li>
                </ul>
            </div>
    </div>
    <!--nav-->
    <div class="clearfix"></div>
    <div id="content_box">
            <div class="container">
                <h1>Portfolio</h1>
                <ul>
                    <li><a href="#Animation"> 1.Animation</a></li>
                    <li><a href="#Microfilm"> 2.Microfilm</a></li>
                    <li><a href="#Anti-AIDS"> 3.Anti AIDS</a></li>
                    <li><a href="#Proposal">  4.Proposal</a></li>
                    <li><a href="#Data-News"> 5.Data News </a></li>
                </ul>
                <div class="panel" id="Animation">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            1、Animation
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left media-top">
                                <!-- <iframe frameborder="0" src="//player.bilibili.com/player.html?aid=42818575&cid=75090900&page=1" allowfullscreen="true"> </iframe> -->
                                <a href="https://v.qq.com/x/page/y3006hpbew6.html" target="_blank" class="videos-img">
                                    <img  src="/public/img/video-img/vanishing_ mermaid.jpg" alt="消逝的美人鱼">
                                </a>
                            
                            </div>
                            <div class="media-body">
                            <h4 class="media-heading"><i>The Last Mermaid</i></h4>
                            <p style="text-indent: 2em;">In this animation, I use the 3D production technology and video post-production with my teammates to product the theme of "Protect the ocean" in the spring of 2019 through our discussion and production for nearly a month. Our video impressed the teachers and won the third prize of Digital Media Design Type Animation Game Group in 2019 Guangdong College Student Computer Design Competition.</p>
                            <p class="author">XIE Yuxiang, MAI Qianying, HUANG Yu, XIE Dan, QIU Lihui, LI Danyang </p>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="panel" id="Microfilm">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                2、Microfilm
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-left media-top">
                                    <!-- <iframe frameborder="0" src="https://v.qq.com/txp/iframe/player.html?vid=y3006hpbew6" allowFullScreen="true"></iframe> -->
                                    <a href="https://www.bilibili.com/video/av42818575/" target="_blank" class="videos-img">
                                        <img  src="/public/img/video-img/open_my.jpg" alt="公开的我">
                                    </a>
                                </div>
                                <div class="media-body">
                                <h4 class="media-heading"><i>Information Disclosure</i></h4>
                                <p style="text-indent: 2em;">This film, directed by me, tells about the unpredictable consequences caused by information disclosure, to illustrate the importance of protecting personal privacy. This film won unanimous praise from teachers and students at the 2019 microfilm exhibition of the journalism department of GDOU. As the director, I would like to thank my advisor Dr. Jing for his guidance and my team for their hard work.</p>
                                <p class="author">XIE Yuxiang, MAI Qianying, HUANG Yu, XIE Dan, QIU Lihui, LI Danyang </p>
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel" id="Anti-AIDS">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                3、Anti AIDS
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-left media-top">
                                    <!-- <iframe frameborder="0" src="https://v.qq.com/txp/iframe/player.html?vid=y3006hpbew6" allowFullScreen="true"></iframe> -->
                                    <a href="https://www.bilibili.com/video/av76357861" target="_blank" class="videos-img">
                                        <img  src="/public/img/video-img/anti_aids.jpg" alt="anti_aids">
                                    </a>
                                </div>
                                <div class="media-body">
                                <h4 class="media-heading"><i>Documentary</i></h4>
                                <p style="text-indent: 2em;">After finishing Documentary Production in my first semester of senior year, I and the other two students want to base ourselves on the social hot spots and explore more popular documentary themes as the final assignment of the course. Although the topic of AIDS is no longer popular, the estrangement and indifference behind it are still eroding the body and mind of AIDS patients. Therefore, we have made a breakthrough in promoting  AIDS anti-discrimination.</p>
                                <p class="author">XIE Yuxiang，KONG Fanyong，Jiang Yaxin </p>
                            </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel" id="Proposal">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    4、Proposal
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left media-top">
                                    </div>
                                    <div class="media-body">
                                    <h4 class="media-heading"><i>Grief Grocery Store</i></h4>
                                    <p style="text-indent: 2em;">In the spring of 2019, I designed a plan for JD convenience store with four members and classmates. The advertising theme is how to attract college students like to come to JD convenience store. </p>
                                    <p style="text-indent: 2em;">Through the production of this planning case, we analyzed the reasons and solutions for JD convenience store to change its marketing strategy, repositioned the image in college students, and further established the status of JD convenience store in young people. </p>
                                    <p class="author">XIE Yuxiang, MAI Qianying, HUANG Yu, XIE Dan, QIU Lihui, LI Danyang </p>
                                    <div class="d-or-b">
                                        <a href="/static/PDF/Proposal.pdf" target="blank" download="/static/PDF/Proposal.pdf">PDF</a>
                                        <a href="/static/PDF/Proposal.pdf" target="_blank" >Slides</a>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel" id="Data-News">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        5、Data News 
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <div class="media">
                                        <div class="media-left media-top">
                                        </div>
                                        <div class="media-body">
                                        <h4 class="media-heading"><i>Data Analysis of Educational Status of Autistic Children</i></h4>
                                        <p style="text-indent: 2em;">In the winter of 2018, I acquired some basics of data mining and analysis through learning the knowledge of data journalism, so I made data news together with five other classmates as a summary of this knowledge point. Through exploring various growth problems faced by autistic children in China, we analyze the developmental obstacles of autistic children and call on society to understand and pay attention to autistic children.</p>
                                        <p class="author">XIE Yuxiang, MAI Qianying, HUANG Yu, XIE Dan, QIU Lihui, LI Danyang </p>
                                        <div class="d-or-b">
                                            <a href="/static/PDF/Data_news.pdf" target="blank" download="/static/PDF/Data_news.pdf">PDF</a>
                                            <a href="/static/PDF/Data_news.pdf" target="blank">Slides</a>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
            </div><!--container-->
    </div><!--content_box-->
    <footer class="footer">
        <p>Copyright © 2019 - 2020  <a href="/">xie-yuxiang.com</a>   All Rights Reserved. <a href="http://www.beian.miit.gov.cn/" target="_blank">粤ICP备19142068号</a></p>
        </footer>
    <!-- <script src="/node_modules/jquery/dist/jquery.min.js"></script> -->
    <!-- <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script> -->
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/public/js/index.js"></script>
</body>
</html>